### Intro to the Module + Fetch Panel Dataset from Google Finance

In [117]:
## Series: one dimensional data structure; DataFrame: two-dimensional data structure; Panel: Three-dimensional data structure
## Need three references to pull the data needed from panel 
import pandas as pd
from pandas_datareader import data

In [9]:
## Extract information for multiple companies and results will be a panel data
companies= ['MSFT', 'GOOG', 'AAPL', 'YHOO', 'AMZN']
p = data.DataReader(name = companies, data_source = 'google', start = '2010-01-01', end = '2016-12-31')
p   ## p is a panel data

In [118]:
stocks = pd.read_csv('Stocks.csv', parse_dates = ['Date']).drop('Adj Close', axis = 'columns')
stocks.head(3)

  Company       Date       Open   High        Low      Close    Volume
0    MSFT 2010-01-04  30.620001  31.10  30.590000  30.950001  38409100
1    MSFT 2010-01-05  30.850000  31.10  30.639999  30.959999  49749600
2    MSFT 2010-01-06  30.879999  31.08  30.520000  30.770000  58182400

In [119]:
p = pd.Panel(dict(zip(items, [stocks.pivot(index = 'Date', columns = 'Company', values = i) for i in items])))
p

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2881: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1762 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to MSFT

### The Axes of a Panel Object

In [49]:
## axes of panel objects are the components of three dimensional objects
## Dimensions: tells us how many dataframes are stored, we have columns * rows(each data frame) * number of dataframes
## in stocks, we have 5 dataframes, each dataframe has 1762 rows of record of four companies
p.items  ## The most external layer of panel data. 5 dataframes

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [51]:
p.major_axis  ## an attribute gives us a list of major axis represents the row labels

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=1762, freq=None)

In [50]:
p.minor_axis  # an attribute gives us a list of columns names in each dataframe

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT'], dtype='object', name='Company')

In [52]:
p.axes  ## bundle the previous .items, .major_axis, .minor_axis attributes information together

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT'], dtype='object', name='Company')]

### Panel Attributes

In [53]:
p.ndim  ## panel data is three-dimensional data

3

In [54]:
p.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [55]:
p.shape   ## tuple gives the measurements of the panel ( # of dataframes, rows, columns)

(5, 1762, 4)

In [56]:
p.size   ## total number of values stored in the panel data = 5 * 1762 * 4

35240

In [57]:
p.values  ## it gives all the rows of values within every single one of our data

array([[[3.04900000e+01, 1.36250000e+02, 3.12304413e+02, 3.06200010e+01],
        [3.06571430e+01, 1.33429993e+02, 3.12418976e+02, 3.08500000e+01],
        [3.06257130e+01, 1.34600006e+02, 3.11761444e+02, 3.08799990e+01],
        ...,
        [1.17519997e+02, 7.76250000e+02, 7.93700012e+02, 6.34000020e+01],
        [1.16449997e+02, 7.72400024e+02, 7.83330017e+02, 6.28600010e+01],
        [1.16650002e+02, 7.66469971e+02, 7.82750000e+02, 6.29599990e+01]],

       [[3.06428570e+01, 1.36610001e+02, 3.13579620e+02, 3.11000000e+01],
        [3.07985710e+01, 1.35479996e+02, 3.12747742e+02, 3.11000000e+01],
        [3.07471430e+01, 1.34729996e+02, 3.11761444e+02, 3.10800000e+01],
        ...,
        [1.18019997e+02, 7.80000000e+02, 7.94229980e+02, 6.34000020e+01],
        [1.17110001e+02, 7.73400024e+02, 7.85929993e+02, 6.32000010e+01],
        [1.17199997e+02, 7.67400024e+02, 7.82780029e+02, 6.29900020e+01]],

       [[3.03400000e+01, 1.33139999e+02, 3.10954468e+02, 3.05900000e+01],
        [3.04642850e+01, 1.31809998e+02, 3.09609497e+02, 3.06399990e+01],
        [3.01071430e+01, 1.31649994e+02, 3.02047852e+02, 3.05200000e+01],
        ...,
        [1.16199997e+02, 7.70500000e+02, 7.83200012e+02, 6.28300020e+01],
        [1.16400002e+02, 7.60849976e+02, 7.78919983e+02, 6.27300000e+01],
        [1.15430000e+02, 7.48280029e+02, 7.70409973e+02, 6.20299990e+01]],

       [[3.05728570e+01, 1.33899994e+02, 3.12204773e+02, 3.09500010e+01],
        [3.06257130e+01, 1.34690002e+02, 3.10829926e+02, 3.09599990e+01],
        [3.01385710e+01, 1.32250000e+02, 3.02994293e+02, 3.07700000e+01],
        ...,
        [1.16760002e+02, 7.72130005e+02, 7.85049988e+02, 6.29900020e+01],
        [1.16730003e+02, 7.65150024e+02, 7.82789978e+02, 6.29000020e+01],
        [1.15820000e+02, 7.49869995e+02, 7.71820007e+02, 6.21399990e+01]],

       [[1.23432400e+08, 7.59990000e+06, 3.92700000e+06, 3.84091000e+07],
        [1.50476200e+08, 8.85190000e+06, 6.03190000e+06, 4.97496000e+07],
        [1.38040000e+08, 7.17880000e+06, 7.98710000e+06, 5.81824000e+07],
        ...,
        [2.09059000e+07, 3.30100000e+06, 1.15380000e+06, 1.46533000e+07],
        [1.50395000e+07, 3.15830000e+06, 7.44300000e+05, 1.02506000e+07],
        [3.05863000e+07, 4.13940000e+06, 1.77000000e+06, 2.55799000e+07]]])

### Use Bracket Notation to Extract a DataFrame from a Panel (for Subsetting)

In [58]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [60]:
p['Open']   ## it extracts the 'Open' information(dataframe) across all stocks and all time
## Usually bracket notation will extract the next smallest object(eg: dataframe use columns for bracket notation)
## panel use items(dataframes) for bracket notation.

Company           AAPL        AMZN        GOOG       MSFT
Date
2010-01-04   30.490000  136.250000  312.304413  30.620001
2010-01-05   30.657143  133.429993  312.418976  30.850000
2010-01-06   30.625713  134.600006  311.761444  30.879999
2010-01-07   30.250000  132.009995  303.562164  30.629999
2010-01-08   30.042856  130.559998  294.894653  30.280001
2010-01-11   30.400000  132.619995  301.101410  30.709999
2010-01-12   29.884285  128.990005  297.709106  30.150000
2010-01-13   29.695715  127.900002  287.168610  30.260000
2010-01-14   30.015715  129.139999  290.859772  30.309999
2010-01-15   30.132856  129.179993  295.562164  31.080000
2010-01-19   29.761429  126.309998  289.514832  30.750000
2010-01-20   30.701429  127.129997  291.895905  30.809999
2010-01-21   30.297142  127.260002  290.630646  30.610001
2010-01-22   29.540001  125.599998  281.196014  30.000000
2010-01-25   28.930000  122.099998  272.274445  29.240000
2010-01-26   29.421429  120.559998  267.980530  29.200001
2010-01-27   29.549999  121.029999  269.624390  29.350000
2010-01-28   29.275715  124.430000  271.228363  29.840000
2010-01-29   28.725714  129.770004  268.239563  29.900000
2010-02-01   27.481428  123.180000  266.301849  28.389999
2010-02-02   27.987143  118.790001  266.481171  28.370001
2010-02-03   27.881428  117.120003  263.347900  28.260000
2010-02-04   28.104286  118.639999  267.497345  28.379999
2010-02-05   27.518572  115.879997  263.213409  28.000000
2010-02-08   27.955715  119.379997  265.255768  28.010000
2010-02-09   28.059999  118.199997  268.762604  27.969999
2010-02-10   27.984285  118.000000  266.037811  28.030001
2010-02-11   27.840000  117.209999  265.664215  27.930000
2010-02-12   28.301428  118.989998  265.489868  27.809999
2010-02-16   28.848572  120.059998  267.432587  28.129999
...                ...         ...         ...        ...
2016-11-17  109.809998  749.320007  766.919983  60.410000
2016-11-18  109.720001  761.000000  771.369995  60.779999
2016-11-21  110.120003  766.000000  762.609985  60.500000
2016-11-22  111.949997  788.169983  772.630005  60.980000
2016-11-23  111.360001  781.729980  767.729980  61.009998
2016-11-25  111.129997  786.500000  764.260010  60.299999
2016-11-28  111.430000  776.989990  760.000000  60.340000
2016-11-29  110.779999  768.000000  771.530029  60.650002
2016-11-30  111.599998  762.000000  770.070007  60.860001
2016-12-01  110.370003  752.409973  757.440002  60.110001
2016-12-02  109.169998  743.400024  744.590027  59.080002
2016-12-05  110.000000  745.000000  757.710022  59.700001
2016-12-06  109.500000  763.989990  764.729980  60.430000
2016-12-07  109.260002  764.549988  761.000000  60.009998
2016-12-08  110.860001  771.869995  772.479980  61.299999
2016-12-09  112.309998  770.000000  780.000000  61.180000
2016-12-12  113.290001  766.400024  785.039978  61.820000
2016-12-13  113.839996  764.960022  793.900024  62.500000
2016-12-14  115.040001  778.250000  797.400024  63.000000
2016-12-15  115.379997  766.280029  797.340027  62.700001
2016-12-16  116.470001  765.000000  800.400024  62.950001
2016-12-19  115.800003  758.890015  790.219971  62.560001
2016-12-20  116.739998  768.650024  796.760010  63.689999
2016-12-21  116.800003  770.000000  795.840027  63.430000
2016-12-22  116.349998  768.119995  792.359985  63.840000
2016-12-23  115.589996  764.549988  790.900024  63.450001
2016-12-27  116.519997  763.400024  790.679993  63.209999
2016-12-28  117.519997  776.250000  793.700012  63.400002
2016-12-29  116.449997  772.400024  783.330017  62.860001
2016-12-30  116.650002  766.469971  782.750000  62.959999

[1762 rows x 4 columns]

In [74]:
p['Volume']  ## This is a new dataframe object which means all functions can be worked on this dataframe
p['Volume']  ##  which is the same for p.Volume (use this to extract a dataframe), this only works when there is no space
p['Volume'].head(3)

Company          AAPL     AMZN     GOOG      MSFT
Date
2010-01-04  123432400  7599900  3927000  38409100
2010-01-05  150476200  8851900  6031900  49749600
2010-01-06  138040000  7178800  7987100  58182400

### Extracting with the .loc, iloc, and .ix Methods

In [113]:
p['Open'].loc['2010-01-01':'2010-01-06' , 'AAPL':'GOOG']

Company          AAPL        AMZN        GOOG
Date
2010-01-04  30.490000  136.250000  312.304413
2010-01-05  30.657143  133.429993  312.418976
2010-01-06  30.625713  134.600006  311.761444

In [86]:
## directly call .loc[] function on panel data, always extract the dataframe(item) first 
p.loc['Close'].head(3)

Company          AAPL        AMZN        GOOG       MSFT
Date
2010-01-04  30.572857  133.899994  312.204773  30.950001
2010-01-05  30.625713  134.690002  310.829926  30.959999
2010-01-06  30.138571  132.250000  302.994293  30.770000

In [88]:
## panel.loc[item, major_axis, minor_axis], item, major_axis, minor_axis must be exists
p.loc['Close', '2014-04-08','GOOG']  ## extract value

553.380676

In [91]:
p.iloc[3, 200, 3]  ## Microsoft Close price on 2010-10-20

25.1

In [92]:
p.ix['High', 500, 'GOOG']

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

321.041656

### Convert Panel to a MultiIndex DataFrame (and Vice Versa)

In [111]:
df = p.to_frame()
## when .to_frame() function is called on panel, panel will be converted to a MultiIndex dataframe
df.head(3)

                          Open        High         Low       Close     Volume
Date       Company
2010-01-04 AAPL      30.490000   30.642857   30.340000   30.572857  123432400
           AMZN     136.250000  136.610001  133.139999  133.899994    7599900
           GOOG     312.304413  313.579620  310.954468  312.204773    3927000

In [100]:
p2 = df.to_panel()   ## convert a dataframe to panel object
p2

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  if __name__ == '__main__':

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1762 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to MSFT

### The .major_xs() Method

In [124]:
## One way to extract dataframes from panel objects
p.items
p['Volume']
## Another way: using .major_xs() function which compare with .major_axis attribute
## .major_xs() function returns a dataframe based on a major axis key, minor_axis(panel) will become row index label, items become column headers
p.major_xs('2016-09-06')  ## returns a dataframe cut out the major axis

               Open        High         Low       Close    Volume
Company
AAPL     107.900002  108.300003  107.510002  107.699997  26880400
AMZN     774.039978  789.479980  770.219971  788.869995   3719800
GOOG     773.450012  782.000000  771.000000  780.080017   1442800
MSFT      57.779999   57.799999   57.209999   57.610001  16278400

### The .minor_xs() Method

In [121]:
p.minor_xs('AAPL').head(3)  ## must put in valid values, check by .minor_axis or .major)_axis

                 Open       High        Low      Close     Volume
Date
2010-01-04  30.490000  30.642857  30.340000  30.572857  123432400
2010-01-05  30.657143  30.798571  30.464285  30.625713  150476200
2010-01-06  30.625713  30.747143  30.107143  30.138571  138040000

In [116]:
p['Open']  ## cut out item 
p.items
p.major_xs('2016-09-16')  ## cut out the major axis
p.major_axis
p.minor_xs('GOOG').head(2)  ## cut out the minor axis
p.minor_axis

                  Open        High         Low       Close   Volume
Date
2010-01-04  312.304413  313.579620  310.954468  312.204773  3927000
2010-01-05  312.418976  312.747742  309.609497  310.829926  6031900

### Transpose a Panel with the .transpose() Method

In [129]:
## what if we want to sway the items(stock information) with the minor axis(companies)
p.axes  ## items is index 0 position, datetime is index 1 position, companies is index 2 position
## .transpose() function can be used to change the axies position to rebuild the structure of panel object

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT'], dtype='object', name='Company')]

In [131]:
p2 = p.transpose(2, 1, 0)   ## need to be reassign if we want it
## .transpose() args in the sequence of wanted items, major axis and minor axis, lookup the index position of original axis
p2

C:\Anaconda3\lib\site-packages\pandas\core\panel.py:1287: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  return super(Panel, self).transpose(*axes, **kwargs)

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: AAPL to MSFT
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: Open to Volume

In [132]:
p2['AAPL'].head(3)

                 Open       High        Low      Close       Volume
Date
2010-01-04  30.490000  30.642857  30.340000  30.572857  123432400.0
2010-01-05  30.657143  30.798571  30.464285  30.625713  150476200.0
2010-01-06  30.625713  30.747143  30.107143  30.138571  138040000.0

In [133]:
p2.major_xs('2010-01-04')

Company          AAPL          AMZN          GOOG          MSFT
Open     3.049000e+01  1.362500e+02  3.123044e+02  3.062000e+01
High     3.064286e+01  1.366100e+02  3.135796e+02  3.110000e+01
Low      3.034000e+01  1.331400e+02  3.109545e+02  3.059000e+01
Close    3.057286e+01  1.339000e+02  3.122048e+02  3.095000e+01
Volume   1.234324e+08  7.599900e+06  3.927000e+06  3.840910e+07

In [135]:
p2.minor_xs('Volume').head(3)

Company            AAPL       AMZN       GOOG        MSFT
Date
2010-01-04  123432400.0  7599900.0  3927000.0  38409100.0
2010-01-05  150476200.0  8851900.0  6031900.0  49749600.0
2010-01-06  138040000.0  7178800.0  7987100.0  58182400.0

### The .swapaxes() Method

In [137]:
## provide the names of the axis to the .swapaxes() function 
p2 = p.swapaxes('minor', 'items')
p2

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  from ipykernel import kernelapp as app

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 1762 (major_axis) x 5 (minor_axis)
Items axis: AAPL to MSFT
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: Open to Volume

In [138]:
p2.axes

[Index(['AAPL', 'AMZN', 'GOOG', 'MSFT'], dtype='object', name='Company'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

In [140]:
p2['MSFT'].head(3)

                 Open   High        Low      Close      Volume
Date
2010-01-04  30.620001  31.10  30.590000  30.950001  38409100.0
2010-01-05  30.850000  31.10  30.639999  30.959999  49749600.0
2010-01-06  30.879999  31.08  30.520000  30.770000  58182400.0

In [141]:
p2.major_xs('2016-09-02')

Company          AAPL          AMZN          GOOG          MSFT
Open     1.077000e+02  7.741100e+02  7.730100e+02  5.767000e+01
High     1.080000e+02  7.760000e+02  7.739200e+02  5.819000e+01
Low      1.068200e+02  7.717000e+02  7.684100e+02  5.742000e+01
Close    1.077300e+02  7.724400e+02  7.714600e+02  5.767000e+01
Volume   2.680250e+07  2.181800e+06  1.072700e+06  1.890050e+07

In [143]:
p2.minor_xs('Close').head(3)

Company          AAPL        AMZN        GOOG       MSFT
Date
2010-01-04  30.572857  133.899994  312.204773  30.950001
2010-01-05  30.625713  134.690002  310.829926  30.959999
2010-01-06  30.138571  132.250000  302.994293  30.770000